---
---

@import "{{ site.theme }}";

.btn-linkedin .icon {
    opacity: 0.6;
    background: url("../img/linkedin-16.png") 0 0 no-repeat;
}

.img-responsive {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}