---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1 style="margin-bottom: 0px;">{{ page.title }}</h1>
by {{ page.author | default: site.author }}
<p class="view">
    {% if page.tags %}
        <small>tags: <em>{{ page.tags }}</em></small>
    {% endif %}
</p>

{{content}}

<hr />

<div style="display: table; width: 100%;">
    <div style="display: table-row;">
        <div style="display: table-cell; width: 10%;">
            <img src="/assets/img/layouts/post/profile-circle.png" title="That's me !!!" />
        </div>
        <div style="display: table-cell; width: 90%; vertical-align: middle; padding-left: 10px;">
            <p>João Paulo Maida</p>
            <small>
                <em>Senior Middleware Consultant</em>
            </small>
        </div>
    </div>
</div>